{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12 col-md-12 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
            {% for k,v in devices.items() %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="/?device={{k}}&state={% if v['state'] == True %}off{% else %}on{% endif %}">
                    <div id="{{k}}" class="circle {% if v['state'] == True %}on{% else %}off{% endif %}" class="img-responsive"></div>
                </a>
                <h4>{{k}}</h4>
                <span class="text-muted">on</span>
            </div>
            {% endfor %}
        </div>

        <h2 class="sub-header">Rules</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>This</th>
                            <th></th>
                            <th>That</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pair in ifthens %}
                        <tr>
                            <td>If</td>
                            <td>{{pair[0]}}</td>
                            <td>then</td>
                            <td>{{pair[1]}}</td>
                            <td><a href="/removeifthen?if={{pair[0]}}&then={{pair[1]}}">delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form action='/addifthen' method='POST'>
                <select name="if">
                    {% for x in ifs %}
                    <option name="{{x}}" value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                <select name="then">
                    {% for x in thens %}
                    <option name="{{x}}" value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                <input type='submit'></input>
            </form>
    </div>
</div>
</div>
{% endblock %}
