{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12 col-md-12 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="circle on" class="img-responsive"></div>
                <h4>Projector</h4>
                <span class="text-muted">on</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="circle off" class="img-responsive"></div>
                <h4>Light 1</h4>
                <span class="text-muted">off</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="circle on" class="img-responsive"></div>
                <h4>Light 2</h4>
                <span class="text-muted">on</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="circle on" class="img-responsive"></div>
                <h4>Label</h4>
                <span class="text-muted">on</span>
            </div>
        </div>

        <h2 class="sub-header">Rules</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>This</th>
                            <th></th>
                            <th>That</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>If</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                            <td>then</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>If</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                            <td>then</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>If</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                            <td>then</td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="projector_on">Projector on</option>
                                    <option value="projector_off">Projector off</option>
                                    <option value="light1_on">Light1 on</option>
                                    <option value="light1_off">Light1 off</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </form>
            </div>
    </div>
</div>
</div>
{% endblock %}
